<%= form_for(@daily_problem) do |f| %>
  <% if @daily_problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_problem.errors.count, "error") %> prohibited this daily_problem from being saved:</h2>

      <ul>
      <% @daily_problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= label_tag 'branch' %><br>
    <%= select_tag 'branch', options_from_collection_for_select(@libaries, "branch", "branch"), :onchange => "get_floor(branch.value,floor.value)" %>
  </div>
  <div class="field">
    <%= f.label 'floor' %><br>
    <%= select_tag 'floor', options_from_collection_for_select(@floor, "floor", "floor"), :onchange => "get_machine(branch.value,floor.value)" %>
  </div>
  <div class="field">
    <%= f.label :machine_id %><br>
    <%= f.select :machine_id, options_from_collection_for_select(@all_machines,"machine_id","machine_id") %>
  </div>
  <div class="field">
    <%= f.label :problem_detail %><br>
    <%= f.text_field :problem_detail %>
  </div>
  <div class="field">
    <%= f.label :situation %><br>
    <%= select_tag 'situation', options_from_collection_for_select(@maintain_state, "state", "state") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
