<p id="notice"><%= notice %></p>

<h1>Listing Daily Problems</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Branch</th>
      <th>Floor</th>
      <th>Machine</th>
      <th>User</th>
      <th>Problem detail</th>
      <th>Situation</th>
      <th>Maintainer</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_problems.each do |daily_problem| %>
      <tr>
        <td><%= daily_problem.date %></td>
        <td><%= daily_problem.branch %></td>
        <td><%= daily_problem.floor %></td>
        <td><%= daily_problem.machine_id %></td>
        <td><%= daily_problem.username %></td>
        <td><%= daily_problem.problem_detail %></td>
        <td><%= daily_problem.situation %></td>
        <td><%= daily_problem.maintainer_id %></td>
        <td><%= daily_problem.comment %></td>
        <td><%= button_to('Show', daily_problem, :class => 'btn btn-link', :method => :get) %></td>
        <td><%= button_to('Edit', edit_daily_problem_path(daily_problem), :class => 'btn btn-link', :method => :get) %></td>
        <td><%= button_to('Destroy', daily_problem, :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to('New Daily problem', new_daily_problem_path, :class => 'btn btn-default btn-primary', :method => :get)  %>