<%= form_for(@maintain_group) do |f| %>
  <% if @maintain_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintain_group.errors.count, "error") %> prohibited this maintain_group from being saved:</h2>

      <ul>
      <% @maintain_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_area :group %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
