<h1>Listing machines</h1>

<table class="table">
  <thead>
    <tr>
      <th>Branch</th>
      <th>Place</th>
      <th>Maintain group</th>
      <th>Floor</th>
      <th>Machine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.branch %></td>
        <td><%= machine.place %></td>
        <td><%= machine.maintain_group %></td>
        <td><%= machine.floor %></td>
        <td><%= machine.machine_id %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
