<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @machine.branch %>
</p>

<p>
  <strong>Place:</strong>
  <%= @machine.place %>
</p>

<p>
  <strong>Maintain group:</strong>
  <%= @machine.maintain_group_id %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @machine.floor %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @machine.machine_id %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
