<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily.errors.count, "error") %> prohibited this daily from being saved:</h2>

      <ul>
      <% @daily.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :machineFloor %><br>
    <%= f.select :floor, options_for_select(1..6), {}, :onchange => "get_machine(this.value)" %>
  </div>
  <div class="field">
    <%= f.label :machineI %><br>
    <%= f.select :machineId, options_from_collection_for_select(@all_machines,"id","machineId") %>
  </div>
  <div class="field">
    <%= f.label :userId %><br>
    <%= f.text_field :userId %>
  </div>
  <div class="field">
    <%= f.label :problemCategory %><br>
    <%= f.number_field :problemCategory %>
  </div>
  <div class="field">
    <%= f.label :problemDetail %><br>
    <%= f.text_field :problemDetail %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :maintainerId %><br>
    <%= f.text_field :maintainerId %>
  </div>
  <div class="field">
    <%= f.label :situation %><br>
    <%= f.number_field :situation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
