<p id="notice"><%= notice %></p>

<p>
  <strong>Floor:</strong>
  <%= @daily.floor %>
</p>

<p>
  <strong>Machineid:</strong>
  <%= @machineId %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @user_name %>
</p>

<p>
  <strong>Problemcategory:</strong>
  <%= @daily.problemCategory %>
</p>

<p>
  <strong>Problemdetail:</strong>
  <%= @daily.problemDetail %>
</p>

<p>
  <strong>Date:</strong>
  <%= @daily.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @daily.comment %>
</p>

<p>
  <strong>Maintainerid:</strong>
  <%= @daily.maintainerId %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @daily.situation %>
</p>

<%= link_to 'Edit', edit_daily_path(@daily) %> |
<%= link_to 'Back', dailies_path %>
